[Unit]
Description=TutunSabri Taskiq Worker
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/tahsin/server/TutunSabri
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/tahsin/server/TutunSabri/.venv/bin/python -m taskiq worker --workers 1 tasks.worker:broker
Restart=always
RestartSec=5
TimeoutStopSec=20

[Install]
WantedBy=default.target
